@media (max-width: $screen-xs-max) {
  .painel-administrativo {
    #dashboard {
      text-align: center;
      h1 {
        margin: 0;
        font-size: 32px;
      }
    }

    #content {
      .inner {
        text-align: left;
      }
    }
  }
}

.dentro {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 1390px) {
  .dentro {
    width: 800px !important;
    margin: 0 auto;
  }

}
