
.clientes .client-img { margin-bottom: 15px;}
.clientes .client {text-align: center;}
.clientes .col-5 {width: 20%;}
.clientes .col-sm-7.five-three {width: 60% !important;}

.clientes .col-sm-5.five-two {width: 40% !important;}
.clientes .content {margin: 30px 0;}
