
.como-funciona .nav-tabs li{background: grey;}
.como-funciona .nav-tabs>li>a {margin-right: 0;border-radius: 0;}
.como-funciona h2 {margin-top: 60px;}
.como-funciona .faq {background-color: grey; color: #fff;margin-top: 50px;}
.como-funciona .inner {border-top: 0 !important;}
.como-funciona .my-list a {font-size: 11px;}
