@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body{font-family: Varela Round, sans-serif;}

a{color: #fff;}
h1{font-size: 2.3em;}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


img {max-width: 100%;height: auto;margin: 0 auto;}
ul {margin-bottom: 0;}
.orange {background-color: $orange !important; color: #fff;}
.orange:hover { color: #fff;}
.orange a {text-transform: uppercase; font-size: 11px;}
.orange a:hover {background-color:  darken($orange, 5%) !important;}
h2 {text-transform: uppercase;}
.content {margin-top: 33px;}

.separator {
  margin-bottom: 60px;
  color: #ddd;
}

.grey {background-color: #ddd;}

.iconz {
  font-size: 40px !important;
}

.mg-top {margin-top: 50px;}
