
/**************
/****COLORS****
**************/

$green: #04a89d;
$bad-green: #006F66;
$orange: #f15a2b;
$hipster-black: #222222;
$grey: #9e9e9e;
$bad-grey: #3F3F3F;
$black-grey: #545454;
$black: #1D1D1D;
$success: #3BAC53;
$danger: #FC0000;
$bolt: #0e0e0e;

/**************
/****SCREEN****
**************/

$screen-lg: 1367px;
