#especificacoes-de-midia {
  .col-ofertas {
    .separator {
      margin-bottom: 30px;
    }
    .texto {
      margin-bottom: 30px;
      h2 {
        margin-bottom: 20px;
      }
      p {
        text-align: left;
      }
    }

    .ofertas-grid {
      .grid-title {
        color: #333;
        font-size: 22px;
        margin-bottom: 50px;
      }
      .banner {
        border: 1px solid #333;
        margin-bottom: 30px;
        text-align: center;
        color: blue;
        display: table;
        vertical-align: middle;
        span {
          display: table-cell;
          vertical-align: middle;
        }
        &.anunciante {
          height: 150px;
          width: 95%;
        }
        &.full {
          width: 50%;
          height: 70px;
        }
        &.botao-lg {
          width: 40%;
          height: 70px;
        }
        &.botao-md {
          width: 30%;
          height: 70px;
        }
        &.botao-vertical {
          width: 25%;
          height: 200px;
          max-width: 150px;
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  #especificacoes-de-midia {
    .col-ofertas {
      text-align: center;
      .texto {
        text-align: center;
        p {
          text-align: center;
        }
      }
      .ofertas-grid {
        .especificacao-row {
          margin-bottom: 30px;
          .banner {
            border: 1px solid #333;
            margin-bottom: 30px;
            text-align: center;
            color: blue;
            display: table;
            vertical-align: middle;
            span {
              display: table-cell;
              vertical-align: middle;
            }
            &.anunciante {
              height: 70px;
              width: 100%;
            }
            &.full {
              width: 70%;
              height: 30px;
            }
            &.botao-lg {
              width: 55%;
              height: 30px;
            }
            &.botao-md {
              width: 40%;
              height: 30px;
            }
            &.botao-vertical {
              width: 40%;
              height: 200px;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}
